/** Add css rules here for your application. */
body { /* text-align: center; !important */
	margin: 0px;
	height: 100%;
	vertical-align: top;
	background-color: #EEEEEE;
}

.ted-content {
	margin: auto;
	width: 1024px;
}

.ted-header {
	width: 100%;
	background-color: #EEEEEE;
}

.ted-header .ted-header-title {
	float: right;
	margin-top: 22px;
	margin-right: 270px;
	font-size: 32px;
}

.ted-header-logo {
	cursor: pointer;
}

.ted-menu {
	background-color: black;
	width: 1012px;
	height: 22px;
	margin-bottom: 2px;
	padding: 6px;
}

.ted-menu-item,
.ted-menu-spacer {
	float: left;
	margin-right: 4px;
	font-size: 12pt;
	font-weight: bold;
	color: orange;
}

.ted-menu-spacer {
	cursor: default;
}

.ted-menu-item {
	cursor: pointer;
}

.ted-menu-item-over {
	color: white;
}

.ted-page-header {
	width: 100%;
	clear: both;
	background-color: orange;
	font-size: 18pt;
	font-weight: bold;
	margin-bottom: 6px;
}

.ted-page-header-text {
}

.ted-serie-table {
	width: 100%;
}

.ted-table-row {
	background-color: white;
}

.ted-table-row-alternate {
	background-color: #ECF3FE;
}

.ted-table-row-selected {
	background-color: #3D80DF;
}

.ted-series-list {
	border: 1px solid black;
	margin-top: 4px;
	height: 500px;
	width: 238px;
}

.ted-series-list td {
	height: 20px;
	width: 238px;
}

.ted-series-list td .gwt-label {
	width: 100%;
	font-size: 16px;
	font-family: Verdana;
}

.ted-search-series-info {
	float: right;
	width: 766px;
	margin-left: 10px;
}

.ted-search-serie-img {
	width: 758px;
	height: 140px;
}

.ted-search-overview {
	font-size: 14pt;
}

.ted-watched-series {
	width: 1024px;
	clear: both;
}

ted-watched-series-image {
	float: left;
	width: 300px;
}

.ted-watched-series-info {
	float: right;
	width: 698px;
	margin-left: 6px;
	font-size: 19pt;
}

.ted-watched-series-actions {
	float: right;
	width: 20px;
}

.ted-watched-series-action-item {
	cursor: pointer;
}